body {
  text-align:center
}
table {
  border-collapse: collapse;
  width: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
tr {
  border: none;
}
td {
  border-right: solid 1px #f00; 
  border-left: solid 1px #f00;
  text-align:center
}
